.App {
  text-align: center;
  min-height: 100vh;
  background: #0b132b;
  color: #ffffff;
}

button.search-icon {
  margin-left: 8px; /* Space from search bar when in desktop */
  margin-right: 8px; /* Cetering when in mobile */
  padding: 10px;
  /* background: #5bc0be; */
}